### Monthly provisional counts of deaths by age group and HHS region for select causes of death

In [1]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

In [2]:
file= pd.read_csv("death_by_disease.csv")

In [3]:
death_cause= pd.DataFrame(file)
death_cause

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke,flag_cov19mcod,flag_cov19ucod
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,Suppressed (counts 1-9),NaN,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
death_updated=death_cause.drop(columns=['flag_allcause','flag_natcause','flag_sept','flag_neopl',
                                        'flag_diab','flag_alz','flag_inflpn','flag_clrd','flag_otherresp',
                                        'flag_nephr','flag_otherunk','flag_hd','flag_stroke','flag_cov19mcod',
                                        'flag_cov19ucod'])
death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate,Note
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,27.0,NaN,217.0,34.0,NaN,0.0,0.0,4/23/2021,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,11.0,14.0,NaN,38.0,71.0,18.0,0.0,0.0,4/23/2021,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,4/23/2021,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,55.0,18.0,NaN,70.0,171.0,37.0,42.0,35.0,4/23/2021,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021,NaN

In [5]:
death_updated[death_updated["Note"].str.contains("Data are provisional, and values in the most recent months are incomplete.")==False]
death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate,Note
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,27.0,NaN,217.0,34.0,NaN,0.0,0.0,4/23/2021,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,11.0,14.0,NaN,38.0,71.0,18.0,0.0,0.0,4/23/2021,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,4/23/2021,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,55.0,18.0,NaN,70.0,171.0,37.0,42.0,35.0,4/23/2021,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021,NaN

In [6]:
death_updated["Note"].nunique()

1

In [7]:
del death_updated['Note']
death_updated.fillna(0, inplace =True)
death_updated.head()

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J09-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021

In [8]:
dict = {'Septicemia (A40-A41)': 'Septicemia',
        'Malignant neoplasms (C00-C97)': 'Malignant_neoplasms',
        'Diabetes mellitus (E10-E14)': 'Diabetes_mellitus',
        'Alzheimer disease (G30)': 'Alzheimer_disease',
        'Influenza and pneumonia (J09-J18)': 'Influenza_pneumonia',
        'Chronic lower respiratory diseases (J40-J47)': 'Chronic_lower_respiratory_diseases',
        'Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)': 'Other_diseases_of_respiratory_system',
        'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)': 'Nephritis',
        'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)':'Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified',
        'Diseases of heart (I00-I09,I11,I13,I20-I51)':'Diseases_of_heart',
        'Cerebrovascular diseases (I60-I69)':'Cerebrovascular_diseases',
        'COVID-19 (U071, Multiple Cause of Death)':'COVID-19_Multiple_Cause_of_Death',
        'COVID-19 (U071, Underlying Cause of Death)':'COVID-19_Underlying_Cause_of_Death',
        'AnalysisDate':'AnalysisDate'
       }

death_updated.rename(columns=dict,
          inplace=True)

death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4/23/2021
2966,2021,3,10,55-64 years,1182.0,1100.0,0.0,357.0,38.0,0.0,0.0,55.0,18.0,0.0,70.0,171.0,37.0,42.0,35.0,4/23/2021
2967,2021,3,10,65-74 years,1984.0,1895.0,0.0,608.0,87.0,30.0,12.0,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,19.0,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,23.0,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021

In [9]:
covid_death_us = death_updated[death_updated["HHSRegion"].str.contains("United States")==True]
covid_death_us

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2021,3,United States,5-14 years,381.0,233.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,76.0,12.0,0.0,0.0,0.0,4/23/2021
266,2021,3,United States,55-64 years,31185.0,29692.0,485.0,7995.0,1213.0,93.0,309.0,1116.0,377.0,435.0,2569.0,5533.0,1072.0,3296.0,2963.0,4/23/2021
267,2021,3,United States,65-74 years,48707.0,47327.0,712.0,13079.0,1937.0,666.0,586.0,2577.0,757.0,828.0,1432.0,9540.0,2051.0,5294.0,4706.0,4/23/2021
268,2021,3,United States,75-84 years,58065.0,56556.0,771.0,12386.0,1872.0,2536.0,799.0,3374.0,1118.0,1168.0,837.0,12214.0,3353.0,5249.0,4436.0,4/23/2021
269,2021,3,United States,85 years and over,67786.0,65971.0,711.0,7693.0,1377.0,5544.0,1006.0,2709.0,920.0,1257.0,1100.0,18354.0,5090.0,4499.0,3427.0,4/23/2021

In [10]:
covid_death_us = covid_death_us[covid_death_us["HHSRegion"].str.contains("United States")==True]
  # Now capture for months starting March 2020 only
covid_death_us = covid_death_us.loc[covid_death_us['Date Of Death Year'] != 2019]    
covid_death_us = covid_death_us.loc[(covid_death_us['Date Of Death Year'] == 2021) | (covid_death_us['Date Of Death Month'] > 2)]
  # Data is now only key columns, all US, months since March 2020
covid_death_us

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
140,2020,3,United States,0-4 years,1981.0,1736.0,14.0,29.0,0.0,0.0,33.0,0.0,30.0,0.0,211.0,48.0,15.0,0.0,0.0,4/23/2021
141,2020,3,United States,15-24 years,2644.0,622.0,0.0,119.0,31.0,0.0,31.0,17.0,13.0,10.0,44.0,76.0,16.0,13.0,12.0,4/23/2021
142,2020,3,United States,25-34 years,5534.0,1893.0,24.0,283.0,100.0,0.0,85.0,38.0,33.0,27.0,83.0,299.0,52.0,100.0,92.0,4/23/2021
143,2020,3,United States,35-44 years,8032.0,4668.0,88.0,928.0,235.0,0.0,170.0,80.0,62.0,77.0,121.0,936.0,169.0,235.0,220.0,4/23/2021
144,2020,3,United States,45-54 years,14664.0,11612.0,224.0,2956.0,608.0,0.0,360.0,345.0,135.0,196.0,139.0,2711.0,478.0,521.0,498.0,4/23/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2021,3,United States,5-14 years,381.0,233.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,76.0,12.0,0.0,0.0,0.0,4/23/2021
266,2021,3,United States,55-64 years,31185.0,29692.0,485.0,7995.0,1213.0,93.0,309.0,1116.0,377.0,435.0,2569.0,5533.0,1072.0,3296.0,2963.0,4/23/2021
267,2021,3,United States,65-74 years,48707.0,47327.0,712.0,13079.0,1937.0,666.0,586.0,2577.0,757.0,828.0,1432.0,9540.0,2051.0,5294.0,4706.0,4/23/2021
268,2021,3,United States,75-84 years,58065.0,56556.0,771.0,12386.0,1872.0,2536.0,799.0,3374.0,1118.0,1168.0,837.0,12214.0,3353.0,5249.0,4436.0,4/23/2021
269,2021,3,United States,85 years and over,67786.0,65971.0,711.0,7693.0,1377.0,5544.0,1006.0,2709.0,920.0,1257.0,1100.0,18354.0,5090.0,4499.0,3427.0,4/23/2021

In [11]:
# Create a groupby on age displaying sum and mean aggregated - including natural all and natural causes - need to sort by age correctly
age_death = covid_death_us.groupby("AgeGroup").agg(["sum", "mean"])

In [12]:
# Create a group that only includes Covid stats - need to sort by age correctly
age_death_covidstats = covid_death_us.groupby('AgeGroup')['COVID-19_Multiple_Cause_of_Death', 'COVID-19_Underlying_Cause_of_Death'].agg(['sum', 'mean', 'std'])

age_death_covidstats

<ipython-input-12-da23cb25708e>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  age_death_covidstats = covid_death_us.groupby('AgeGroup')['COVID-19_Multiple_Cause_of_Death', 'COVID-19_Underlying_Cause_of_Death'].agg(['sum', 'mean', 'std'])

                  COVID-19_Multiple_Cause_of_Death                             \
                                               sum          mean          std
AgeGroup
0-4 years                                     36.0      2.769231     5.449065
15-24 years                                  824.0     63.384615    33.013983
25-34 years                                 3638.0    279.846154   151.149951
35-44 years                                 9461.0    727.769231   396.312199
45-54 years                                26403.0   2031.000000  1203.388826
5-14 years                                    48.0      3.692308     5.879124
55-64 years                                67126.0   5163.538462  3282.832964
65-74 years                               120922.0   9301.692308  6373.829963
75-84 years                               151828.0  11679.076923  8539.093428
85 years and over                         167498.0  12884.461538  9697.541188

                  COVID-19_Underlying_Cause_of_Death                \
                                                 sum          mean
AgeGroup
0-4 years                                       11.0      0.846154
15-24 years                                    682.0     52.461538
25-34 years                                   3210.0    246.923077
35-44 years                                   8590.0    660.769231
45-54 years                                  24515.0   1885.769231
5-14 years                                      20.0      1.538462
55-64 years                                  62281.0   4790.846154
65-74 years                                 112116.0   8624.307692
75-84 years                                 138371.0  10643.923077
85 years and over                           148134.0  11394.923077


                           std
AgeGroup
0-4 years             3.050851
15-24 years          28.765186
25-34 years         136.167459
35-44 years         369.263265
45-54 years        1130.638695
5-14 years            3.755338
55-64 years        3099.860154
65-74 years        5980.788958
75-84 years        7917.114052
85 years and over  8807.833478

In [13]:
# Create a group that only includes Covid sum and count
age_death_covidsum=covid_death_us.groupby('AgeGroup')['COVID-19_Multiple_Cause_of_Death', 'COVID-19_Underlying_Cause_of_Death'].agg(['sum'])
age_death_covidsum

<ipython-input-13-0ead76d41d8d>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  age_death_covidsum=covid_death_us.groupby('AgeGroup')['COVID-19_Multiple_Cause_of_Death', 'COVID-19_Underlying_Cause_of_Death'].agg(['sum'])

,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death
,sum,sum
AgeGroup,,
0-4 years,36.0,11.0
15-24 years,824.0,682.0
25-34 years,3638.0,3210.0
35-44 years,9461.0,8590.0
45-54 years,26403.0,24515.0
5-14 years,48.0,20.0
55-64 years,67126.0,62281.0
65-74 years,120922.0,112116.0
75-84 years,151828.0,138371.0
85 years and over,167498.0,148134.0

In [14]:
US_death_total_2019=death_updated[death_updated["HHSRegion"].str.contains("United States")==True]

In [15]:
US_death_total_2019=US_death_total_2019.loc[US_death_total_2019['Date Of Death Year'] == 2019]

In [16]:
US_death_total_2019.head()

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021

In [17]:
US_death_total_2020=death_updated[death_updated["HHSRegion"].str.contains("United States")==True]

In [18]:
US_death_total_2020=US_death_total_2020.loc[US_death_total_2020['Date Of Death Year'] == 2020]

In [19]:
US_death_total_2020.head()

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
120,2020,1,United States,0-4 years,2095.0,1876.0,23.0,33.0,0.0,0.0,57.0,0.0,22.0,0.0,239.0,39.0,14.0,0.0,0.0,4/23/2021
121,2020,1,United States,15-24 years,2595.0,648.0,11.0,114.0,29.0,0.0,40.0,10.0,12.0,0.0,41.0,84.0,12.0,0.0,0.0,4/23/2021
122,2020,1,United States,25-34 years,5215.0,1906.0,32.0,323.0,81.0,0.0,119.0,31.0,21.0,25.0,100.0,329.0,65.0,0.0,0.0,4/23/2021
123,2020,1,United States,35-44 years,7584.0,4363.0,86.0,930.0,254.0,0.0,197.0,70.0,55.0,59.0,88.0,973.0,171.0,0.0,0.0,4/23/2021
124,2020,1,United States,45-54 years,14421.0,11440.0,204.0,3039.0,591.0,0.0,360.0,302.0,137.0,200.0,181.0,2738.0,496.0,0.0,0.0,4/23/2021

In [20]:
US_death_total_2021=death_updated[death_updated["HHSRegion"].str.contains("United States")==True]
US_death_total_2021=US_death_total_2021.loc[US_death_total_2021['Date Of Death Year'] == 2021]
US_death_total_2021.head()

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
240,2021,1,United States,0-4 years,1701.0,1554.0,17.0,31.0,0.0,0.0,0.0,0.0,18.0,0.0,307.0,17.0,10.0,10.0,0.0,4/23/2021
241,2021,1,United States,15-24 years,2915.0,954.0,0.0,101.0,22.0,0.0,0.0,11.0,12.0,0.0,369.0,76.0,11.0,122.0,99.0,4/23/2021
242,2021,1,United States,25-34 years,6425.0,3054.0,37.0,288.0,98.0,0.0,26.0,29.0,21.0,26.0,833.0,297.0,54.0,615.0,536.0,4/23/2021
243,2021,1,United States,35-44 years,9994.0,6999.0,78.0,906.0,276.0,0.0,86.0,62.0,59.0,86.0,1086.0,985.0,163.0,1556.0,1423.0,4/23/2021
244,2021,1,United States,45-54 years,19037.0,16368.0,206.0,2811.0,667.0,0.0,160.0,242.0,132.0,235.0,1091.0,2750.0,503.0,4531.0,4229.0,4/23/2021

In [21]:
death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4/23/2021
2966,2021,3,10,55-64 years,1182.0,1100.0,0.0,357.0,38.0,0.0,0.0,55.0,18.0,0.0,70.0,171.0,37.0,42.0,35.0,4/23/2021
2967,2021,3,10,65-74 years,1984.0,1895.0,0.0,608.0,87.0,30.0,12.0,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,19.0,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,23.0,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021

In [22]:
death_updated2=death_updated.groupby(["AgeGroup"])
#death_updated2 = death_updated3.copy()

In [23]:
# death_updated2.reset_index(inplace=True)
# death_updated2['ordering'] = [0, 2, 3, 4, 5, 1, 6, 7, 8, 9]
# death_updated2.sort_values(by='ordering', inplace=True)
# death_updated2.rename(columns={'ordering': 'index'}, inplace=True)
# death_updated2.set_index('index', inplace=True)
# death_updated2

In [24]:
HHS1_death_total_df2 = HHS1_death_total_df.copy()
HHS1_death_total_df2.reset_index(inplace=True)
HHS1_death_total_df2['ordering'] = [0, 2, 3, 4, 5, 1, 6, 7, 8, 9]
HHS1_death_total_df2.sort_values(by='ordering', inplace=True)
HHS1_death_total_df2.rename(columns={'ordering': 'index'}, inplace=True)
HHS1_death_total_df2.set_index('index', inplace=True)
HHS1_death_total_df2

NameError: name 'HHS1_death_total_df' is not defined

In [ ]:
HHS1_death_total=death_updated[death_updated["HHSRegion"].str.contains("1")==True]
HHS1_death_total = HHS1_death_total[HHS1_death_total["Date Of Death Year"].astype('str').str.contains('2020')]
HHS1_death_total=HHS1_death_total[["AgeGroup","COVID-19_Multiple_Cause_of_Death","COVID-19_Underlying_Cause_of_Death"]]
#Add "Date Of Death Year", "Date Of Death Month" if you want to divide it up later above

HHS1_death_ages_grouped = HHS1_death_total.groupby(["AgeGroup"])
HHS1_death_ages_sum_multiple = HHS1_death_ages_grouped["COVID-19_Multiple_Cause_of_Death"].sum()

HHS1_death_ages_sum_underlying = HHS1_death_ages_grouped["COVID-19_Underlying_Cause_of_Death"].sum()

HHS1_death_ages_sum_m_and_u = HHS1_death_ages_sum_multiple + HHS1_death_ages_sum_underlying


HHS1_death_total_ages_final = pd.DataFrame({
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)": HHS1_death_ages_sum_multiple, 
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)": HHS1_death_ages_sum_underlying,
                                "Total COVID-19 Deaths": HHS1_death_ages_sum_m_and_u
                              })
HHS1_death_total_ages_final
HHS1_death_total_df=HHS1_death_total_ages_final.sort_values('AgeGroup',ascending=True)
HHS1_death_total_df

In [ ]:
HHS2_death_total=death_updated[death_updated["HHSRegion"].str.contains("2")==True]
HHS2_death_total = HHS2_death_total[HHS2_death_total["Date Of Death Year"].astype('str').str.contains('2020')]
HHS2_death_total=HHS1_death_total[["AgeGroup","COVID-19_Multiple_Cause_of_Death","COVID-19_Underlying_Cause_of_Death"]]
#Add "Date Of Death Year", "Date Of Death Month" if you want to divide it up later above

HHS2_death_ages_grouped = HHS1_death_total.groupby(["AgeGroup"])
HHS2_death_ages_sum_multiple = HHS2_death_ages_grouped["COVID-19_Multiple_Cause_of_Death"].sum()

HHS2_death_ages_sum_underlying = HHS1_death_ages_grouped["COVID-19_Underlying_Cause_of_Death"].sum()

HHS2_death_ages_sum_m_and_u = HHS2_death_ages_sum_multiple + HHS2_death_ages_sum_underlying


HHS2_death_total_ages_final = pd.DataFrame({
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)": HHS2_death_ages_sum_multiple, 
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)": HHS2_death_ages_sum_underlying,
                                "Total COVID-19 Deaths": HHS2_death_ages_sum_m_and_u
                              })
HHS2_death_total_ages_final
HHS2_death_total_df=HHS1_death_total_ages_final.sort_values('AgeGroup',ascending=True)
HHS2_death_total_df

In [ ]:
HHS3_death_total=death_updated[death_updated["HHSRegion"].str.contains("3")==True]
HHS3_death_total = HHS3_death_total[HHS3_death_total["Date Of Death Year"].astype('str').str.contains('2020')]
HHS3_death_total=HHS1_death_total[["AgeGroup","COVID-19_Multiple_Cause_of_Death","COVID-19_Underlying_Cause_of_Death"]]
#Add "Date Of Death Year", "Date Of Death Month" if you want to divide it up later above

HHS3_death_ages_grouped = HHS3_death_total.groupby(["AgeGroup"])
HHS3_death_ages_sum_multiple = HHS3_death_ages_grouped["COVID-19_Multiple_Cause_of_Death"].sum()

HHS3_death_ages_sum_underlying = HHS3_death_ages_grouped["COVID-19_Underlying_Cause_of_Death"].sum()

HHS3_death_ages_sum_m_and_u = HHS3_death_ages_sum_multiple + HHS2_death_ages_sum_underlying


HHS3_death_total_ages_final = pd.DataFrame({
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)": HHS3_death_ages_sum_multiple, 
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)": HHS3_death_ages_sum_underlying,
                                "Total COVID-19 Deaths": HHS3_death_ages_sum_m_and_u
                              })
HHS3_death_total_ages_final
HHS3_death_total_df=HHS1_death_total_ages_final.sort_values('AgeGroup',ascending=True)
HHS3_death_total_df

In [ ]:
HHS4_death_total=death_updated[death_updated["HHSRegion"].str.contains("4")==True]
HHS4_death_total = HHS4_death_total[HHS4_death_total["Date Of Death Year"].astype('str').str.contains('2020')]
HHS4_death_total=HHS4_death_total[["AgeGroup","COVID-19_Multiple_Cause_of_Death","COVID-19_Underlying_Cause_of_Death"]]

HHS4_death_ages_grouped = HHS4_death_total.groupby(["AgeGroup"])
HHS4_death_ages_sum_multiple = HHS4_death_ages_grouped["COVID-19_Multiple_Cause_of_Death"].sum()

HHS4_death_ages_sum_underlying = HHS4_death_ages_grouped["COVID-19_Underlying_Cause_of_Death"].sum()

HHS4_death_ages_sum_m_and_u = HHS4_death_ages_sum_multiple + HHS4_death_ages_sum_underlying


HHS4_death_total_ages_final = pd.DataFrame({
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)": HHS4_death_ages_sum_multiple, 
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)": HHS4_death_ages_sum_underlying,
                                "Total COVID-19 Deaths": HHS4_death_ages_sum_m_and_u
                              })
HHS4_death_total_ages_final

In [ ]:
#Repeat that process for all 11.... if there's an easier way I'm all ears, I tried a loop but failed

In [ ]:
x_axis = np.arange(len(HHS4_death_total_ages_final))
y_axis=HHS4_death_total_ages_final["Total COVID-19 Deaths"]
plt.bar(x_axis, y_axis, color='b', alpha=0.5, align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, ["0-4 years", "5-14 years","15-24 years", "25-34 years", "35-44 years", "45-54 years","55-64 years","65-74 years","75-84 years","85 years and over"], rotation="vertical")
plt.show()

#basic idea.... but i still need to fix the 5-14 and 45-55 years mix up