### Deaths Counts due to Various Diseases

In [1]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from scipy.stats import linregress

In [2]:
file= pd.read_csv("death_by_disease.csv")

In [3]:
death_cause= pd.DataFrame(file)
death_cause

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke,flag_cov19mcod,flag_cov19ucod
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,Suppressed (counts 1-9),NaN,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
death_updated=death_cause.drop(columns=['flag_allcause','flag_natcause','flag_sept','flag_neopl',
                                        'flag_diab','flag_alz','flag_inflpn','flag_clrd','flag_otherresp',
                                        'flag_nephr','flag_otherunk','flag_hd','flag_stroke','flag_cov19mcod',
                                        'flag_cov19ucod'])
death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate,Note
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,27.0,NaN,217.0,34.0,NaN,0.0,0.0,4/23/2021,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,11.0,14.0,NaN,38.0,71.0,18.0,0.0,0.0,4/23/2021,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,4/23/2021,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,55.0,18.0,NaN,70.0,171.0,37.0,42.0,35.0,4/23/2021,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021,NaN

In [5]:
death_updated[death_updated["Note"].str.contains("Data are provisional, and values in the most recent months are incomplete.")==False]
death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate,Note
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,NaN,0.0,...,NaN,27.0,NaN,217.0,34.0,NaN,0.0,0.0,4/23/2021,NaN
1,2019,1,United States,15-24 years,2340.0,626.0,NaN,123.0,31.0,0.0,...,11.0,14.0,NaN,38.0,71.0,18.0,0.0,0.0,4/23/2021,NaN
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,...,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021,NaN
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,...,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021,NaN
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,...,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,NaN,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,4/23/2021,NaN
2966,2021,3,10,55-64 years,1182.0,1100.0,NaN,357.0,38.0,NaN,...,55.0,18.0,NaN,70.0,171.0,37.0,42.0,35.0,4/23/2021,NaN
2967,2021,3,10,65-74 years,1984.0,1895.0,NaN,608.0,87.0,30.0,...,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021,NaN
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,...,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021,NaN
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,...,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021,NaN

In [6]:
death_updated["Note"].nunique()

1

In [7]:
del death_updated['Note']
death_updated.fillna(0, inplace =True)
death_updated.head()

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J09-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)",AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021

In [8]:
dict = {'Septicemia (A40-A41)': 'Septicemia',
        'Malignant neoplasms (C00-C97)': 'Malignant_neoplasms',
        'Diabetes mellitus (E10-E14)': 'Diabetes_mellitus',
        'Alzheimer disease (G30)': 'Alzheimer_disease',
        'Influenza and pneumonia (J09-J18)': 'Influenza_pneumonia',
        'Chronic lower respiratory diseases (J40-J47)': 'Chronic_lower_respiratory_diseases',
        'Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)': 'Other_diseases_of_respiratory_system',
        'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)': 'Nephritis',
        'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)':'Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified',
        'Diseases of heart (I00-I09,I11,I13,I20-I51)':'Diseases_of_heart',
        'Cerebrovascular diseases (I60-I69)':'Cerebrovascular_diseases',
        'COVID-19 (U071, Multiple Cause of Death)':'COVID-19_Multiple_Cause_of_Death',
        'COVID-19 (U071, Underlying Cause of Death)':'COVID-19_Underlying_Cause_of_Death',
        'AnalysisDate':'AnalysisDate'
       }

death_updated.rename(columns=dict,
          inplace=True)

death_updated

,Date Of Death Year,Date Of Death Month,HHSRegion,AgeGroup,AllCause,NaturalCause,Septicemia,Malignant_neoplasms,Diabetes_mellitus,Alzheimer_disease,Influenza_pneumonia,Chronic_lower_respiratory_diseases,Other_diseases_of_respiratory_system,Nephritis,Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified,Diseases_of_heart,Cerebrovascular_diseases,COVID-19_Multiple_Cause_of_Death,COVID-19_Underlying_Cause_of_Death,AnalysisDate
0,2019,1,United States,0-4 years,2022.0,1764.0,17.0,23.0,0.0,0.0,31.0,0.0,27.0,0.0,217.0,34.0,0.0,0.0,0.0,4/23/2021
1,2019,1,United States,15-24 years,2340.0,626.0,0.0,123.0,31.0,0.0,18.0,11.0,14.0,0.0,38.0,71.0,18.0,0.0,0.0,4/23/2021
2,2019,1,United States,25-34 years,4616.0,1623.0,31.0,268.0,82.0,0.0,55.0,24.0,29.0,27.0,67.0,285.0,46.0,0.0,0.0,4/23/2021
3,2019,1,United States,35-44 years,7023.0,4153.0,80.0,955.0,224.0,0.0,120.0,64.0,53.0,70.0,82.0,886.0,131.0,0.0,0.0,4/23/2021
4,2019,1,United States,45-54 years,14399.0,11455.0,185.0,3158.0,628.0,13.0,285.0,352.0,149.0,221.0,120.0,2750.0,479.0,0.0,0.0,4/23/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2021,3,10,5-14 years,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4/23/2021
2966,2021,3,10,55-64 years,1182.0,1100.0,0.0,357.0,38.0,0.0,0.0,55.0,18.0,0.0,70.0,171.0,37.0,42.0,35.0,4/23/2021
2967,2021,3,10,65-74 years,1984.0,1895.0,0.0,608.0,87.0,30.0,12.0,123.0,28.0,12.0,52.0,391.0,82.0,74.0,56.0,4/23/2021
2968,2021,3,10,75-84 years,2427.0,2333.0,26.0,590.0,89.0,152.0,19.0,152.0,48.0,23.0,29.0,462.0,143.0,101.0,83.0,4/23/2021
2969,2021,3,10,85 years and over,2990.0,2852.0,26.0,396.0,62.0,316.0,23.0,90.0,40.0,25.0,46.0,755.0,220.0,113.0,84.0,4/23/2021

In [9]:
death_updated.columns

Index(['Date Of Death Year', 'Date Of Death Month', 'HHSRegion', 'AgeGroup',
       'AllCause', 'NaturalCause', 'Septicemia', 'Malignant_neoplasms',
       'Diabetes_mellitus', 'Alzheimer_disease', 'Influenza_pneumonia',
       'Chronic_lower_respiratory_diseases',
       'Other_diseases_of_respiratory_system', 'Nephritis',
       'Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified',
       'Diseases_of_heart', 'Cerebrovascular_diseases',
       'COVID-19_Multiple_Cause_of_Death',
       'COVID-19_Underlying_Cause_of_Death', 'AnalysisDate'],
      dtype='object')

In [10]:
age_death_total = death_updated[death_updated["HHSRegion"].str.contains("United States")==True]
age_death_total

age_death_total = age_death_total[['AgeGroup',
       'AllCause', 'NaturalCause', 'Septicemia', 'Malignant_neoplasms',
       'Diabetes_mellitus', 'Alzheimer_disease', 'Influenza_pneumonia',
       'Chronic_lower_respiratory_diseases',
       'Other_diseases_of_respiratory_system', 'Nephritis',
       'Symptoms_signs_abnormal_clinical_laboratory_findings_not_elsewhere_classified',
       'Diseases_of_heart', 'Cerebrovascular_diseases',
       'COVID-19_Multiple_Cause_of_Death',
       'COVID-19_Underlying_Cause_of_Death']]

age_death_total_grouped = age_death_total.groupby(["AgeGroup"]).sum()
age_death_total_grouped.columns=["Number of Deaths from All Causes",
                                "Number of Deaths from Natural Causes",
                                "Number of Deaths from Septicemia",
                                "Number of Deaths from Malignant Neoplasms",
                                "Number of Deaths from Diabetes Mellitus",
                                "Number of Deaths from Alzheimer Disease",
                                "Number of Deaths from Influenza Pneumonia",
                                "Number of Deaths from Chronic Lower Respiratory Diseases",
                                "Number of Deaths from Other diseases of respiratory_system",
                                "Number of Deaths from Nephritis",
                                "Number of Deaths from Symptoms signs abnormal clinical laboratory findings not elsewhere classified",
                                "Number of Deaths from Diseases of heart",
                                "Number of Deaths from Cerebrovascular diseases",
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)",
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)",
                              ]
age_death_total_df= age_death_total_grouped.reindex(["0-4 years","5-14 years","15-24 years",
                                   "25-34 years",'35-44 years','45-54 years','55-64 years',
                                   '65-74 years',"75-84 years",'85 years and over'])
age_death_total_df

,Number of Deaths from All Causes,Number of Deaths from Natural Causes,Number of Deaths from Septicemia,Number of Deaths from Malignant Neoplasms,Number of Deaths from Diabetes Mellitus,Number of Deaths from Alzheimer Disease,Number of Deaths from Influenza Pneumonia,Number of Deaths from Chronic Lower Respiratory Diseases,Number of Deaths from Other diseases of respiratory_system,Number of Deaths from Nephritis,Number of Deaths from Symptoms signs abnormal clinical laboratory findings not elsewhere classified,Number of Deaths from Diseases of heart,Number of Deaths from Cerebrovascular diseases,Number of Deaths from COVID-19 (Multiple Causes of Death),Number of Deaths from COVID-19 (Underlying Causes of Death)
AgeGroup,,,,,,,,,,,,,,,
0-4 years,52218.0,45631.0,364.0,796.0,0.0,0.0,429.0,0.0,586.0,12.0,6431.0,813.0,312.0,36.0,11.0
5-14 years,12322.0,6637.0,10.0,1755.0,0.0,0.0,174.0,258.0,10.0,0.0,364.0,362.0,41.0,48.0,20.0
15-24 years,73650.0,17539.0,124.0,3005.0,610.0,0.0,316.0,412.0,234.0,21.0,3071.0,1897.0,347.0,824.0,682.0
25-34 years,149826.0,54817.0,855.0,8007.0,2279.0,0.0,1121.0,844.0,622.0,689.0,7309.0,8273.0,1333.0,3638.0,3210.0
35-44 years,213353.0,125997.0,2027.0,23973.0,5756.0,0.0,2282.0,1597.0,1388.0,1861.0,8663.0,25084.0,4215.0,9461.0,8590.0
45-54 years,400070.0,319821.0,5218.0,77960.0,15530.0,144.0,5022.0,7768.0,3570.0,5186.0,9606.0,72399.0,12126.0,26403.0,24515.0
55-64 years,928719.0,845275.0,13470.0,246679.0,37788.0,2999.0,12793.0,41230.0,11061.0,13546.0,13507.0,188750.0,30542.0,67126.0,62281.0
65-74 years,1409190.0,1353378.0,20821.0,386950.0,56794.0,19270.0,21200.0,86151.0,22820.0,25286.0,12747.0,289472.0,56970.0,120922.0,112116.0
75-84 years,1722831.0,1671088.0,23408.0,360785.0,53858.0,79951.0,29093.0,110674.0,30928.0,33142.0,13824.0,365575.0,94501.0,151828.0,138371.0
85 years and over,2134703.0,2073043.0,21759.0,229772.0,41233.0,183302.0,41300.0,92638.0,28560.0,37135.0,27212.0,565106.0,148458.0,167498.0,148134.0

In [11]:
# x_values = death_updated(['Date Of Death Year']==2021)
# y_values = death_updated['Septicemia']
# (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
# regress_values = x_values * slope + intercept
# line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
# plt.scatter(x_values,y_values)
# plt.plot(x_values,regress_values,"r-")
# plt.annotate(line_eq,(0,50),fontsize=15,color="red")
# plt.xlabel('Date of Death')
# plt.ylabel('Count of Deaths in Thousands')
# print(f"The r-squared is: {rvalue**2}")
# plt.show()

In [16]:
#The average number of deaths per month due to Diseases of heart per age group
age_death_total.groupby(["AgeGroup"])['Diseases_of_heart'].mean()

AgeGroup
0-4 years               30.111111
15-24 years             70.259259
25-34 years            306.407407
35-44 years            929.037037
45-54 years           2681.444444
5-14 years              13.407407
55-64 years           6990.740741
65-74 years          10721.185185
75-84 years          13539.814815
85 years and over    20929.851852
Name: Diseases_of_heart, dtype: float64

In [ ]:
#age_death_total.groupby("Septicemia")["newage"].mean()

In [ ]:
age_death_total_df.plot.bar(title="Age Death", figsize=(20,10), color= ['darkcyan','lightsalmon',"red", "blue", 'orange', 'green', 'purple', 'brown', 'pink', 'gray',
                                          'yellow', 'black', 'lime', 'violet', 'cyan'])

# plt.bar(x_axis, timepoints["Drug Regimen"], color='blue', align='center', width= .5)
# plt.xticks(tick_locations, list(timepoints.index), rotation ='vertical')

# plt.xlim(-0.5, len(x_axis)-.5)
# plt.ylim(0, max(timepoints["Drug Regimen"])*1.05)

plt.title("Number of Deaths by Disease & Natural Causes")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Millions")

label=["Causes of Death"]
# plt.legend(bbox_to_anchor=(1.04,1), loc="upper right")

# plt.show

In [ ]:
bar1_df = age_death_total_df[["Number of Deaths from Septicemia",
                                "Number of Deaths from Malignant Neoplasms",
                                "Number of Deaths from Diabetes Mellitus",
                                "Number of Deaths from Alzheimer Disease",
                                "Number of Deaths from Influenza Pneumonia",
                                "Number of Deaths from Chronic Lower Respiratory Diseases",
                                "Number of Deaths from Other diseases of respiratory_system",
                                "Number of Deaths from Nephritis",
                                "Number of Deaths from Symptoms signs abnormal clinical laboratory findings not elsewhere classified",
                                "Number of Deaths from Diseases of heart",
                                "Number of Deaths from Cerebrovascular diseases",
                                "Number of Deaths from COVID-19 (Multiple Causes of Death)",
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)"]]


bar1_df.plot.bar(figsize=(20,10), color= ["red", "blue", 'orange', 'green', 'purple', 'brown', 'pink', 'gray',
                                          'yellow', 'black', 'lime', 'violet', 'cyan'])

plt.title("Number of Deaths by Disease")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Thousands")

In [ ]:
bar_df = age_death_total_df[["Number of Deaths from All Causes",
                                "Number of Deaths from Natural Causes",
                            ]]

bar_df.plot.bar(figsize=(20,10))
plt.title("Deaths by All Causes vs Natural Causes")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Millions")

In [ ]:
covidbar_df = age_death_total_df[["Number of Deaths from COVID-19 (Multiple Causes of Death)",
                                "Number of Deaths from COVID-19 (Underlying Causes of Death)",
                            ]]

covidbar_df.plot.bar(figsize=(15,10))
plt.title("Number of Deaths Covid-19 vs Multiple Causes with Covid-19")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Thousands")

In [ ]:
young_age = age_death_total_df.iloc[0:2]
young_age
young_age_df = young_age[["Number of Deaths from Natural Causes",
                          "Number of Deaths from Symptoms signs abnormal clinical laboratory findings not elsewhere classified",]]
                            

young_age_df.plot.bar(figsize=(15,10))
plt.title("Natural and Abnormal Death Causes Among Young")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Thousands")

In [ ]:
mid_age = age_death_total_df.iloc[5:7]
mid_age
mid_df = mid_age[["Number of Deaths from Malignant Neoplasms",
                           "Number of Deaths from Diseases of heart",]]
                            

mid_df.plot.bar(figsize=(15,10), ylim=(0, 260000))
plt.title("Malignant Neoplasms and Hear Diseases Among 45-56")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Thousands")

In [ ]:
mid_age = age_death_total_df.iloc[4:6]
mid_age
mid_df = mid_age[["Number of Deaths from Malignant Neoplasms",
                           "Number of Deaths from Diseases of heart",]]
                            

mid_df.plot.bar(figsize=(15,10), ylim=(0,260000))
plt.title("Malignant Neoplasms and Hear Diseases Among 35-54")
plt.xlabel("Age Group")
plt.ylabel("Number of Deaths in Thousands")

In [ ]:
def create_bar_chart(y_val, ylabel, title):
    # Generate a bar plot showing the total number of Deaths from all causes
    x_axis = age_death_total_df.index

    #plt.figure(figsize=(6.25,4.25))


    plt.bar(x_axis, age_death_total_df[y_val])
    plt.xticks(rotation ='vertical')

    # plt.xlim(-0.5, len(x_axis)-.5)
    # plt.ylim(0, max(timepoints["Drug Regimen"])*1.05)

    plt.title(title)
    plt.xlabel("Age Range")
    plt.ylabel(ylabel)

    label=["Count of Deaths"]
    plt.legend(label, loc = "upper center")

    # plt.tight_layout()

    plt.show()

In [ ]:
create_bar_chart("Number of Deaths from All Causes","Number of Deaths (millions)", "Total Deaths")

In [ ]:
create_bar_chart("Number of Deaths from Natural Causes","Number of Deaths (millions)", "Deaths by Natural Causes")

In [ ]:
create_bar_chart("Number of Deaths from Septicemia","Number of Deaths (Thousands)", "Deaths by Septicemia")

In [ ]:
create_bar_chart("Number of Deaths from Malignant Neoplasms","Number of Deaths (Thousands)", "Deaths by Malignant Neoplasms")

In [ ]:
create_bar_chart("Number of Deaths from Diabetes Mellitus","Number of Deaths (Thousands)", "Deaths by Diabetes Mellitus")

In [ ]:
create_bar_chart("Number of Deaths from Alzheimer Disease","Number of Deaths (Thousands)", "Deaths by Alzheimer Disease")

In [ ]:
create_bar_chart("Number of Deaths from Chronic Lower Respiratory Diseases","Number of Deaths (Thousands)", "Deaths by Lower Respiratory Disease")

In [ ]:
create_bar_chart("Number of Deaths from Other diseases of respiratory_system","Number of Deaths (Thousands)", "Deaths by Other Respiratory Disease")

In [ ]:
create_bar_chart("Number of Deaths from Nephritis","Number of Deaths (Thousands)", "Deaths by Nephritis")

In [ ]:
create_bar_chart("Number of Deaths from Nephritis","Number of Deaths (Thousands)","Deaths by Nephritis")

In [ ]:
create_bar_chart("Number of Deaths from Symptoms signs abnormal clinical laboratory findings not elsewhere classified","Number of Deaths (Thousands)", "Deaths by Abrnomal Clinical Lab Findings")

In [ ]:
create_bar_chart("Number of Deaths from Diseases of heart","Number of Deaths (Thousands)", "Deaths by Disease of the Heart")

In [ ]:
create_bar_chart("Number of Deaths from Cerebrovascular diseases","Number of Deaths (Thousands)", "Deaths by Cerebrovascular Diseases")

In [ ]:
create_bar_chart("Number of Deaths from COVID-19 (Multiple Causes of Death)","Number of Deaths (Thousands)", "Deaths by COVID-19 Multi Cause")

In [ ]:
create_bar_chart("Number of Deaths from COVID-19 (Underlying Causes of Death)","Number of Deaths (Thousands)", "Deaths by COVID-19")